<nav class="nav">
    <div class="nav-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ '/equipo/' | relative_url }}" class="icon-team">Equipo</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/objetivos/' | relative_url }}" class="icon-goals">Objetivos</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/resultados/' | relative_url }}" class="icon-results">Resultados</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/recursos/' | relative_url }}" class="icon-resources">Recursos</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/noticias/' | relative_url }}" class="icon-news">Noticias</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/contacto/' | relative_url }}" class="icon-contact">Contacto</a>
            </li>
        </ul>
    </div>
</nav>