
<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <main class="container">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script>
    <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  </body>
</html>
